@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.collection-title {
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1dfd7e0;
    @include flexCenter;
    flex-direction: column;

    @media(max-width: 767px) {
        padding: 50px 0;
    }

    .title-content {
        width: 70%;

        @media(max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        h2 {
            font-weight: 500;
            color: rgb(0, 0, 0);
        }

        h6 {
            font-size: 15px;
            font-weight: 500;
            color: rgba(243, 209, 158, 0.979);
        }
    }
}

.collection-img {
    text-align: center;

    img {
        max-width: 100%;

        @media(min-width: 767px) {
            height: 100%;
            object-fit: cover;
        }
    }
}